@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Nunito:wght@200;300;400;600;700&family=Oswald:wght@200&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@400;700;900&display=swap");

:root {
  --green: #27ae60;
  --black: #2c2c54;
  --light-background: #f3f3f3;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--green);
  color: #fff;
}

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* scroll-padding-top: 6.5rem; */
  scroll-behavior: smooth;
}

/*header section starts*/
.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: #fff;
}

/* .header {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
} */
.logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i {
  color: var(--green);
  padding-right: 0.5rem;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #667;
  margin: 0 1rem;
}

.header .navbar a:hover {
  background-color: var(--green);
  color: #fff;
}

.header .icons div {
  font-size: 1.8rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: #667;
}

.header .icons div:hover {
  color: var(--green);
}

.header .search-box {
  position: absolute;
  top: -115%;
  right: 2rem;
  width: 50rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  height: 5.5rem;
  box-shadow: var(--box-shadow);
  background: #fff;
}

.header .search-box.active {
  top: 115%;
}

.header .search-box input {
  height: 100%;
  width: 100%;
  padding: 0 1.2rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
}

.header .search-box label {
  font-size: 1.8rem;
  margin-right: 1.7rem;
  cursor: pointer;
  color: #667;
}

.header .search-box label:hover {
  color: var(--green);
}

.header .login-form {
  position: absolute;
  top: 115%;
  right: -105%;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  width: 35rem;
  padding: 2rem;
}

.header .login-form.active {
  right: 2rem;
  transition: 2s linear;
}

.header .login-form h3 {
  color: var(--black);
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 0.7rem;
}

.header .login-form .box {
  margin: 0.7rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem 1.2rem;
  font-size: 1.5rem;
  color: var(--black);
  text-transform: none;
  width: 100%;
}

.header .login-form .remember {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.7rem 0;
}

.header .login-form .remember label {
  font-size: 1.5rem;
  color: #667;
  cursor: pointer;
}

.header .login-form .btn {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}

.header .login-form p {
  color: #667;
  padding-top: 0.7rem;
  font-size: 1.4rem;
}

.header .login-form p a {
  color: var(--green);
}

.header .login-form p a:hover {
  text-decoration: underline;
}

#menu-btn {
  display: none;
}

/* .header .icons a {
  font-size: 2.5rem;
  color: var(--black);
  padding-left: 1rem;
} */

/*header section ends*/

section {
  padding: 2rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--green);
  color: #fff;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--black);
}

/*category section starts*/
.heading {
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  padding: 1rem;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.heading span {
  color: var(--green);
  text-transform: uppercase;
}

.category .box-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.category .box-container .box {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  flex: 1 1 25rem;
}

.category .box-container .box img {
  width: 20rem;
  margin: 0.5rem 0;
}

.category .box-container .box h3 {
  font-size: 3.5rem;
  color: var(--black);
}

.category .box-container .box p {
  font-size: 2rem;
  color: #667;
  padding: 0.5rem 0;
}

.category .box-container .box .btn {
  display: block;
}

/*category section ends*/

/* .header-1 {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

.logo {
  color: var(--black);
  font-weight: bolder;
  font-size: 3rem;
}

.logo i {
  padding-right: 0.5rem;
  color: var(--green);
}

.header-1 .search-box-container {
  display: flex;
  height: 5rem;
}

.header-1 .search-box-container #search-box {
  height: 100%;
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  color: #333;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.header-1 .search-box-container label {
  height: 100%;
  width: 8rem;
  font-size: 2.5rem;
  line-height: 5rem;
  color: #fff;
  background: var(--green);
  text-align: center;
  cursor: pointer;
}

.header-1 .search-box-container label:hover {
  background: var(--black);
}

.header-2 {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
}

.header-2.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.header-2 .navbar a {
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  color: var(--black);
}

.header-2 .navbar a:hover {
  background: var(--green);
  color: #fff;
}

.header-2 .icons a {
  font-size: 2.5rem;
  color: var(--black);
  padding-left: 1rem;
}

.header-2 .icons a:hover {
  color: var(--green);
}

#menu-bar {
  font-size: 3rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--black);
  padding: 0.8rem 1.5rem;
  color: var(--black);
  cursor: pointer;
  display: none;
}

body {
  height: 200rem;
} */

/*home section*/
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home .image {
  flex: 1 1 40rem;
  padding-top: 5rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  flex: 1 1 40rem;
}

.home .content span {
  font-size: 3rem;
  color: #667;
}

.home .content h3 {
  font-size: 5rem;
  color: var(--black);
}

.banner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.banner-container .banner {
  flex: 1 1 40rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.banner-container .banner img {
  height: 100%;
  width: 100%;
  border: solid 2px var(--green);
  border-radius: 5px;
  padding-left: 25rem;
}

.banner-container .banner .content {
  position: absolute;

  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}

.banner-container .banner .content h3 {
  font-size: 3rem;
  color: var(--black);
}

.banner-container .banner .content p {
  font-size: 2rem;
  color: #333;
}

.banner-container .banner:hover img {
  transform: scale(1.2) rotate(-5deg);
}

/*products section starts*/
.product .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.product .box-container .box {
  flex: 1 1 30rem;
  text-align: center;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.product .box-container .box img {
  height: 100%;
  width: 100%;
}

.product .box-container .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: rgba(0, 255, 0, 0.1);
  color: var(--green);
  padding: 0.7rem 1rem;
  font-size: 1rem;
}

.product .box-container .box .icons {
  position: relative;
  top: 0.5rem;
  right: -1rem;
}

.product .box-container .box:hover .icons {
  right: 0.5rem;
  cursor: pointer;
}

.product .box-container .box .icons a {
  display: inline-block;
  /* height: 0.5rem;
  width: 0.5rem; */
  line-height: 2.5rem;
  font-size: 1.5rem;
  color: var(--black);
  margin-top: 0.5rem;
}

.product .box-container .box .icons a:hover {
  background: var(--green);
  color: #fff;
}

.product .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.product .box-container .box .stars i {
  padding: 1rem 0.1rem;
  font-size: 1.7rem;
  color: gold;
}

.product .box-container .box .price {
  font-size: 2rem;
  color: #333;
  padding: 0.5rem 0;
}

.product .box-container .box .price span {
  font-size: 1.5rem;
  color: #999;
  text-decoration: line-through;
}

.product .box-container .box .quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.product .box-container .box .quantity span {
  padding: 0 0.7rem;
  font-size: 1.7rem;
}

.product .box-container .box .quantity input {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--black);
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.05);
}

.product .box-container .box .btn {
  display: block;
  margin-top: 1rem;
  background: var(--green);
  color: #fff;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
  width: 80%;
}

/*products section ends*/

/*deal section starts*/
.deal {
  background: url(../images/oferta-zilei.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.deal .content {
  max-width: 50rem;
}

.deal .content .title {
  font-size: 4rem;
  color: var(--black);
}

.deal .content p {
  font-size: 1.7rem;
  padding: 1rem 0;
  color: #333;
}

.deal .content .count-down {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}

.deal .content .count-down .box {
  width: 9rem;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.deal .content .count-down .box h3 {
  color: var(--black);
  background: #fff;
  height: 7rem;
  line-height: 7rem;
  width: 100%;
  font-size: 5rem;
}

.deal .content .count-down .box span {
  display: block;
  background: var(--black);
  color: #fff;
  width: 100%;
  font-size: 2rem;
}
/*deal section ends*/

/*contact section starts*/
.contact form {
  text-align: center;
  padding: 1rem;
  border: 1rem solid rgba(0, 0, 0, 0.3);
}

.contact form .inputBox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea {
  padding: 1.5rem;
  font-size: 1.7rem;
  background: #f7f7f7;
  text-transform: none;
  margin: 1rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  width: 49%;
}

.contact form textarea {
  height: 15rem;
  resize: none;
  width: 100%;
}
/*contact section ends*/

/*footer section starts*/
.footer {
  border-top: 0.5rem solid rgba(0, 0, 0, 0.1);
  background-color: var(--light-background);
}

.footer .box-container {
  display: flex;
  gap: 22rem;
  flex-wrap: wrap;
}

.footer .box-container .box {
  /* padding: 1rem 0; */
  flex: 1 1 25rem;
}

.footer .box-container .box .share a {
  padding: 0;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.footer .box-container .box p {
  font-size: 1.3rem;
  color: #667;
  padding: 0.7rem 0;
}

.footer .box-container .box .links {
  padding: 1rem 0;
}

.footer .box-container .box .links a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #333;
}

.footer .box-container .box .links a:hover {
  text-decoration: underline;
  color: var(--green);
}
/*footer section ends*/

/*PAGES*/
/*home page - sider starts*/
@keyframes fadeLeft {
  100% {
    /* opacity: 0; */
    transform: translateX(-5rem);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
}

.slider-box {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.slider {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: url(../images/background.png) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: var(--box-shadow);
}

.slider #prev-slide,
#next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  box-shadow: var(--box-shadow);
  font-weight: bolder;
  text-align: center;
  background: #f7f7f7;
  font-size: 2.5rem;
  cursor: pointer;
}

#prev-slide:hover {
  background: var(--green);
  color: #fff;
}

#next-slide:hover {
  background: var(--green);
  color: #fff;
}

.slider #prev-slide {
  left: 2rem;
}

.slider #next-slide {
  right: 2rem;
}

.slider .slides-container .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  display: none;
}

.slider .slides-container .slide.active {
  display: flex;
}

.slider .slides-container .slide .content {
  flex: 0.5 0.5 20rem;
  margin-left: 26rem;
  margin-right: 13rem;
  text-align: center;
  animation: fadeLeft 0.25s linear 0.25s backwards;
}

.slider .slides-container .slide .content span {
  color: var(--green);
  font-size: 2.5rem;
}

.slider .slides-container .slide p {
  font-size: 1.5rem;
  color: #999;
}

.slider .slides-container .slide .image img {
  width: 20rem;
  height: 25rem;
  display: flex;
  align-items: center;
  animation: fadeUp 0.4s linear;
}
/*home page - slider ends*/

/*category page -  starts*/

.heading {
  background: url(../images/categ-background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 25rem;
}

.heading h1 {
  color: #333;
  font-size: 5rem;
}

.heading p {
  padding-top: 1rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #999;
}

.heading p a {
  color: #333;
  padding-right: 0.5rem;
}

.heading p a:hover {
  color: var(--green);
}

.title {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  padding: 1rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #333;
}

.title span {
  color: var(--green);
  padding-left: 0.7rem;
}

.title a {
  margin-left: auto;
  color: #999;
  font-size: 1.5rem;
}

.title a:hover {
  color: var(--green);
}

.category .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  padding: 4rem 0;
}

.category .box-container .box {
  text-align: center;
}

.category .box-container .box img {
  height: 15rem;
}

.category .box-container .box h3 {
  font-size: 2rem;
  margin: 1rem 0;
  color: #999;
}

.category .box-container .box:hover h3 {
  color: var(--green);
}

.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.products .box-container .box {
  position: relative;
  background: var(--light-background);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
}

.products .box-container .box .icons {
  position: absolute;
  top: -105%;
  left: 0;
  height: 30rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(243, 243, 243, 0.8);
  gap: 1rem;
}

.products .box-container .box:hover .icons {
  top: 0;
}

.products .box-container .box .icons a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  background: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
}

.products .box-container .box .icons a:hover {
  background: var(--green);
  color: #fff;
}

.products .box-container .box .image {
  height: 30rem;
  width: 100%;
  overflow: hidden;
}

.products .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.products .box-container .box .content {
  padding: 1.5rem;
}

.products .box-container .box .content h3 {
  font-size: 2rem;
  color: #333;
}

.products .box-container .box .content .price {
  font-size: 2rem;
  color: #333;
  padding: 1rem 0;
}

.products .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--green);
}

/*category page -  ends*/

/*about page -  starts*/
.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .image {
  flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  flex: 1 1 40rem;
}

.about .span {
  color: var(--green);
  font-size: 2.5rem;
}

.about h3 {
  color: #333;
  font-size: 3rem;
  padding-top: 0.5rem;
}

.about p {
  color: #999;
  font-size: 1.4rem;
  line-height: 2;
  padding: 1rem 0;
}

.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.gallery .box-container .box {
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .box:hover img {
  transform: scale(1.2);
}

.gallery .box-container .box:hover .icons {
  bottom: 0;
}

.gallery .box-container .box .icons {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 1.5rem 0;
  position: absolute;
  bottom: -6rem;
  left: 0;
  right: 0;
  z-index: 10;
}

.gallery .box-container .box .icons a {
  font-size: 2.5rem;
  color: #fff;
  margin: 0 1.5rem;
}

.gallery .box-container .box .icons a:hover {
  color: var(--green);
}
/*about page -  ends*/

/*media queries*/
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }

  .slider #next-slide,
  .slider #prev-slide {
    /* transform: translateY(0);
    top: 70%; */
    width: 2rem;
    height: 5rem;
  }

  .slider #prev-slide {
    right: 12rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .search-box {
    width: 100%;
    right: 0;
    border-radius: 0;
  }

  .header .search-box.active {
    top: 99%;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .navbar a {
    margin: 1.5rem 0;
    padding: 1.5rem;
    background: var(--light-background);
    text-align: center;
    font-size: 2rem;
    display: block;
    border-radius: 0.5rem;
  }

  /* .header .navbar.active {
    display: initial;
  } */

  .home .content {
    text-align: center;
  }

  .home .content h3 {
    font-size: 4rem;
  }

  .deal {
    background-position: left;
  }

  .deal .content {
    max-width: 100%;
    text-align: center;
  }

  .deal .content .count-down {
    justify-content: center;
  }

  .slider-box {
    background-position: left;
  }

  .contact form .inputBox input {
    width: 100%;
  }

  .slider-box .slides-container {
    max-width: 100%;
    text-align: center;
  }

  .slider-box .slides-container .slide {
    justify-content: center;
  }

  .slider .slides-container .slide .content {
    /* flex: 0.5 0.5 20rem; */
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    justify-content: center;
  }

  .slider-box .slides-container .slide .image img {
    width: 8rem;
    height: 7rem;
    justify-content: center;
    margin-right: 3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .slider-box .slides-container .slide .content p {
    font-size: 2rem;
  }

  .heading {
    font-size: 3rem;
  }

  /* .header-1 {
    flex-flow: column;
  }

  .header-1 .search-box-container {
    width: 100%;
    margin-top: 2rem;
  } */

  .logo {
    font-size: 4rem;
  }

  .deal .content .count-down .box h3 {
    font-size: 4rem;
  }

  .deal .content .count-down .box span {
    font-size: 1.5rem;
  }
}
